{% extends 'index.html' %}
{% load static %}
{% block body %}


	<!-- about  -->
<section class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h3 class="w3ls-title text-uppercase text-bl font-weight-bold">About Us</h3>
			</div><hr/>
			<div class="row">
				<div class="col-lg-6 agileits_works-grid">
					<div class="wthree-bottom">
						
					</div>
				</div>
				<div class="col-lg-6 agileits_works-grid1 mt-lg-0 mt-sm-5 mt-4">
					<img src="images/blog1.jpg" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->

	<!-- banner bottom -->
	<div class="section-2">
		<div class="container-fluid">
			<div class="row slide">
				<div class="col-xl-3">

				</div>
				
				<div class="col-xl-3">
				</div>
			</div>
		</div>
	</div>
	<!-- //banner bottom -->
	<!-- doctor form -->

	<!-- //doctor form -->

{% endblock  %}